<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CheckOut</title>
</head>
<body>
<div class="row">
    <div class="col-lg-6 mx-auto">

        <div class="outer-card">
            <div class="forms">
                <div class="checkOut">
                    <div class="checkOut"><span>Email</span><input size="32"></div>
                <div class="checkOut"> <span>Card Number</span> <input  size="19"> </div>
                <div class="checkOut"> <span>Name on card</span> <input placeholder="Joe Deez"> </div>
                <div class="line">
                    <div class="checkOut"> <span>Expiry Date</span> <input placeholder="mm/yyyy" > </div>
                    <div class="checkOut"> <span>CVV</span> <input size="3"> </div>
                </div>
                <input type="submit">  </input>
            </div>
                </div>
        </div>
    </div>
</div>
</div>
    </form>
</body>
</html>